* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --primary: #ADEFD1;
    --secondary: #00203F;
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--secondary);
    color: var(--primary);
}

header, footer {
    padding: 2rem 0;
}

header, footer {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#game {
    background-color: var(--secondary);
    border-radius: 5px;
    border: solid 2px white;
}

#pause-popup {
    display: none;
    width: 20vw;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    border: 3px solid white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pause-popup > * {
    padding: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: 100ms ease-in;
}

#pause-popup > *:hover {
    color: var(--primary);
    background-color: var(--secondary);
    cursor: pointer;
    letter-spacing: 4px;
}
