* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --primary: #ADEFD1;
    --secondary: #00203F;
}

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--secondary);
    color: var(--primary);
}

header, footer {
    padding: 2rem 0;
}

header, footer {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#game {
    background-color: var(--secondary);
    border-radius: 5px;
    border: solid 2px white;
}

#start-popup, #pause-popup, #gameover-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30vw;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    border: 3px solid white;
}

#start-popup {
    display: block;
}

#start-popup h2 {
    text-align: center;
    padding: 1rem 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 80%;
    margin: 0 auto;
}

.input-group label {
    font-size: 1.2rem;
    padding-bottom: .5rem;
}

#gameover-popup {
    text-align: center;
}

#gameover-popup h1 {
    padding: 1rem 0;
    text-transform: uppercase;
    border-bottom: 4px solid var(--secondary);
}

.leaderboard-wrapper {
    padding: 0 1rem 1rem;
}

.leaderboard-wrapper h2 {
    padding: 1rem 0;
}

.leaderboard__item {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
}

.leaderboard__item.header {
    font-weight: bold;
}

#pause-popup > *, .button {
    padding: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: 100ms ease-in;
}

#pause-popup > *:hover, .button:hover {
    color: var(--primary);
    background-color: var(--secondary);
    cursor: pointer;
    letter-spacing: 4px;
}
